:root {
    --base-font-size                                  : 16px;
    --link-color                                      : #0B87DA;
    --link-color--hover                               : #ED7C00;
    /*--sidebar-name-color                              : #0A75BD;
    --sidebar-nav-link-color--active                  : #4D4D4D;
    --sidebar-nav-link-font-weight--active            : bold;
    --sidebar-width                                   : 22rem;
    --sidebar-nav-pagelink-background-position: 3px 14px;
    --navbar-menu-padding: 0.5em 0.5em 0.2em 0.5em;*/
    --sidebar-nav-pagelink-background-image           : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--active   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--collapse : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--loaded   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
}

/*.markdown-section a:visited {
  color: #989898;
}
.markdown-section a:visited.anchor  {
color: var(--base-color);
}
.markdown-section a.anchor {
  color:inherit;
  text-decoration:none}
.markdown-section a.anchor:hover {color:inherit; text-decoration:underline; }
.markdown-section a:visited:hover {color:inherit; }
/* Sidebar */
/*.sidebar-nav a, .sidebar nav a {
  white-space: normal;
  display:block;
  overflow: visible;
}
/* Table of Contents */
/* section.content > aside.nav > .page_toc {
  top: 80px !important;
}
section.content > aside.nav > .page_toc ul a:hover span {
  color: var(--text-color-tertiary, #ED7C00F) !important;
  color: #ED7C00 !important;
}
.nav .page_toc ul a:hover span {
  color: #ED7C00 !important;
}
aside.nav > .page_toc .active {
  border-left: 5px solid #0B87DA;
  color: inherit !important;
  padding-left: 10px;
  font-weight: 600;
}
aside.nav > .page_toc li strong {
  font-weight: normal;
  color: inherit !important;
}
aside.nav > .page_toc .active strong {
  font-weight: bold;
  color: inherit !important;
}*/

/* top right menu*/
/*nav.app-nav li a:active, nav.app-nav li a:hover {
    color: #ED7C00 !important;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    -o-transition:none !important;
    transition:none !important;
}
nav.app-nav li a, nav.app-nav li a:visited {
    color: inherit;
}*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow: hidden;
  max-width: 100%;
}

.video-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.responsive-wrap iframe{
  max-width: 100%;
}
